.inv_d_item {
    display: inline-block;
    margin: 2px;
}
.inv_choosen {
    background-color: greenyellow;
}
.coin.choosen {
    background-color: darkseagreen;
}
.coin {
    margin: 2px;
    display: inline-block;
    width: 50px;
}
.btnCreateRoom {
    display: inline-block;
    float: left;
    padding: 15px;
    background-color: #236235;
    text-decoration: none;
    cursor:pointer;
}
.btnCreateRoom:hover{
    text-decoration: none;;
}
.inv_info{
    float: left;
}
.show_inv{
    background-color: green;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    cursor:pointer;
}
.cf-items{
    font-size: 10px;
}
.cf-items img{
    width: 45px;
    height: 45px;
}
.coinflip-pots {
    margin-top: 10px;
    border-top: 3px solid #3faa5d;
    border-collapse: collapse;
    width: 100%;
}
.coinflip-pots .cf-players {
    width: 150px;
    text-align: center;
    padding: 8px;
    line-height: 1.42857143;
}
.coinflip-pots .cf-players img{
    width: 45px;
    height: 45px;
}
.coinflip-pots tbody tr{
    padding-top: 5px;
    padding-bottom: 5px;
}
.coinflip-pots tbody tr:nth-child(2n)
{
    background-color: #002f17;
}
.coinflip-pots thead{
    border-bottom: 1px solid #3faa5d;

}
.coinflip-pots thead tr th{
    padding: 8px;

}
.cfRoundJoin{
    display: inline-block;
    float: left;
    padding: 15px;
    background-color: #45ad62;
    text-decoration: none;
    cursor:pointer;
}
.cfRoundJoin:hover{
    text-decoration: none;
}
.cfRoundView:hover{
    text-decoration: none;
}
.cfRoundView{
    display: inline-block;
    float: left;
    padding: 15px;
    background-color: #236235;
    text-decoration: none;
    cursor:pointer;
}
.circle strong {
    position: absolute;
    margin-top: 22px;
    margin-left: -40px;
    text-align: center;
}
.window {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
}

.window:target {
    display: block;
    pointer-events: auto;
}


.close {
    background: #cc3300;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 22px;
    width: 24px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #990000; }
.btnShowInv{
    display: inline-block;
    float: left;
    padding: 15px;
    background-color: #236235;
    text-decoration: none;
    cursor:pointer;
}
.btnShowInv:hover{
    text-decoration: none;;
}
.btnJoinRoom{
    display: inline-block;
    float: left;
    padding: 15px;
    background-color: #236235;
    text-decoration: none;
    cursor:pointer;
    width:100%;
}
.btnJoinRoom:hover{
    text-decoration: none;;
}
.inv_table_duel {
    overflow: auto;
    height: 100%;
}
.btnCheckBet{
    display: inline-block;
    float: left;
    padding: 15px;
    text-align: center;
    background-color: #00bdcd;
    text-decoration: none;
    cursor:pointer;
    width:100%;
}
.btnCheckBet:hover{
    text-decoration: none;
}
.viewRoomBet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.viewRoomBet:target {
    display: block;
    pointer-events: auto;
}
.viewRoomBet .info-block {
    padding-left: 30%;
    padding-right: 30%;
}
.viewRoomBet .info-block .host-player {
    width: 32%;
    display:inline-block;
}
.viewRoomBet .info-block .center-coin{
    width: 32%;
    display: inline-block;
}
.viewRoomBet .info-block .join-player {
    width: 32%;
    display:inline-block;
}
.viewRoomBet .info-line {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: #236235;
}
.hash {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #236235;
}
.info-line .usernames{
    display: inline-block;
    width: 26%;
    float:left;
}
.info-line .usernames:first-child{
    padding-left: 30%;
}
.info-line .usernames:last-child{
    padding-left: 6%;
}
.viewRoomBet .items-block{
    width: 100%;
    margin-left:  20%;
    margin-right: 20%;
    padding-top: 20px;

}
.viewRoomBet .items-block .host-items{
    display: inline-block;
    width: 29%;
    float:left;
    background-color: #236235;
}
.viewRoomBet .items-block .join-items{
    display: inline-block;
    width: 29%;
    background-color: #236235;
}
.items-block .item {
    display:block;
    width: 100%;
    border-bottom: 1px solid #31d355;
}
.info-line:after {
    content: " ";
    clear: both;
    display: table;
}
.items-block:after {
    content: " ";
    clear: both;
    display: table;
}
.items-block .item .view-price{
    width:25%;
    padding-top: 10px;
    display:inline-block;
}
.items-block .item:after {
    content: " ";
    clear: both;
    display: table;
}
.items-block .item p{
    text-align: center;
}
.items-block .item .item-img{
    float:left;
    display:inline-block;
    width: 24%;
}
.items-block .item img{
    width:45px;

}
.items-block .item .view-name{
    width:50%;
    padding-top: 10px;
    display:inline-block;
}
.closeView {
    background: #cc3300;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 22px;
    width: 24px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
canvas{
    vertical-align: middle;
}
.coin-ava{
    width: 50px;
}
.closeView:hover { background: #990000; }
/*
.duel-show-side {
    margin: 0 auto;
    height: 120px;
    width: 120px;
    position: relative;
}
.flip-container, .front, .back {
    width: 120px;
    height: 120px;
}
.flip-container {
    perspective: 1000;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
}
.flip-me-t .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(1440deg);
    -moz-transform: rotateY(1440deg);
    -o-transform: rotateY(1440deg);
    -webkit-transform: rotateY(1440deg);
}
.flipper {
    transition: 4s;
    -webkit-transition: 4s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: relative;
}
.front {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}*/
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 50px;
    left: 0;
}
.flip-me-ct .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(1620deg);
    -moz-transform: rotateY(1620deg);  /* FF3.5/3.6 */
    -o-transform: rotateY(1620deg);  /* Opera 10.5 */
    -webkit-transform: rotateY(1620deg);  /* Saf3.1+ */
}

.flip-me-t .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(1440deg);
    -moz-transform: rotateY(1440deg);  /* FF3.5/3.6 */
    -o-transform: rotateY(1440deg);  /* Opera 10.5 */
    -webkit-transform: rotateY(1440deg);  /* Saf3.1+ */
}
.inv_d_item:hover::after{
    content: 'Имя: 'attr(data-name)' || Цена: 'attr(data-price)' руб.';
    left: 0;
    position: absolute;
    right: 0;
    bottom: 15px;
    z-index: 1;
    background: rgba(68, 167, 0, 0.6);
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #333;
}
.history-modal {
    position:relative;
    z-index:100;
    padding:30px;
    background: rgba(0, 0, 0, 0.58);
    border-radius:3px;
}

#cfanim-wrapper {
    display:none;
    width:120px;
    height:120px;
    margin:0 auto
}

#coin {
    position:relative;
    width:120px;
    height:120px;
    transform-style:preserve-3d
}
#coin .front,#coin .back {
    position:absolute;
    width:120px;
    height:120px
}
#coin .front {
    transform:translateZ(1px);
    border-radius:50%;
    background:transparent url('/assets/img/coin-t.png') center center no-repeat
}
#coin .back {
    transform:translateZ(-1px) rotateY(180deg);
    border-radius:50%;
    background:transparent url('/assets/img/coin-ct.png') center center no-repeat
}
#coin.animation900 {
    -webkit-animation:rotate900 3s linear forwards;
    animation:rotate900 3s linear forwards
}
#coin.animation1080 {
    -webkit-animation:rotate1080 3s linear forwards;
    animation:rotate1080 3s linear forwards
}
#coin.animation1260 {
    -webkit-animation:rotate1260 3s linear forwards;
    animation:rotate1260 3s linear forwards
}
#coin.animation1440 {
    -webkit-animation:rotate1440 3s linear forwards;
    animation:rotate1440 3s linear forwards
}
#coin.animation1620 {
    -webkit-animation:rotate1620 3s linear forwards;
    animation:rotate1620 3s linear forwards
}
#coin.animation1800 {
    -webkit-animation:rotate1800 3s linear forwards;
    animation:rotate1800 3s linear forwards
}
#coin.animation1980 {
    -webkit-animation:rotate1980 3s linear forwards;
    animation:rotate1980 3s linear forwards
}
#coin.animation2160 {
    -webkit-animation:rotate2160 3s linear forwards;
    animation:rotate2160 3s linear forwards
}
@-webkit-keyframes rotate900 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(900deg);
        -moz-transform:rotateY(900deg);
        transform:rotateY(900deg)
    }
}
@keyframes rotate900 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(900deg);
        -moz-transform:rotateY(900deg);
        transform:rotateY(900deg)
    }
}
@-webkit-keyframes rotate1080 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1080deg);
        -moz-transform:rotateY(1080deg);
        transform:rotateY(1080deg)
    }
}
@keyframes rotate1080 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1080deg);
        -moz-transform:rotateY(1080deg);
        transform:rotateY(1080deg)
    }
}
@-webkit-keyframes rotate1260 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1260deg);
        -moz-transform:rotateY(1260deg);
        transform:rotateY(1260deg)
    }
}
@keyframes rotate1260 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1260deg);
        -moz-transform:rotateY(1260deg);
        transform:rotateY(1260deg)
    }
}
@-webkit-keyframes rotate1440 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1440deg);
        -moz-transform:rotateY(1440deg);
        transform:rotateY(1440deg)
    }
}
@keyframes rotate1440 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1440deg);
        -moz-transform:rotateY(1440deg);
        transform:rotateY(1440deg)
    }
}
@-webkit-keyframes rotate1620 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1620deg);
        -moz-transform:rotateY(1620deg);
        transform:rotateY(1620deg)
    }
}
@keyframes rotate1620 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1620deg);
        -moz-transform:rotateY(1620deg);
        transform:rotateY(1620deg)
    }
}
@-webkit-keyframes rotate1800 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1800deg);
        -moz-transform:rotateY(1800deg);
        transform:rotateY(1800deg)
    }
}
@keyframes rotate1800 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1800deg);
        -moz-transform:rotateY(1800deg);
        transform:rotateY(1800deg)
    }
}
@-webkit-keyframes rotate1980 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1980deg);
        -moz-transform:rotateY(1980deg);
        transform:rotateY(1980deg)
    }
}
@keyframes rotate1980 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(1980deg);
        -moz-transform:rotateY(1980deg);
        transform:rotateY(1980deg)
    }
}
@-webkit-keyframes rotate2160 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(2160deg);
        -moz-transform:rotateY(2160deg);
        transform:rotateY(2160deg)
    }
}
@keyframes rotate2160 {
    from {
        -webkit-transform:rotateY(0);
        -moz-transform:rotateY(0);
        transform:rotateY(0)
    }
    to {
        -webkit-transform:rotateY(2160deg);
        -moz-transform:rotateY(2160deg);
        transform:rotateY(2160deg)
    }
}